[user]
  name = kadoyukasi
  email = 63542479+kadoyukasi@users.noreply.github.com
  signingkey = ~/.ssh/id_git_sign
[core]
  excludesfile = ~/.gitignore
  autoCRLF = false
  editor = code --wait
  filemode = false
  quotepath = false
  ignorecase = false
[push]
  default = simple
[pull]
  rebase = merges
[merge]
  ff = false
[gpg]
  format = ssh
